<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Js</title>
  
</head>

<body>

  <main>
    <elegir-ganador :listado="personas" inine-template>
        <div>
            <h1 v-if="ganador">El ganador es: {{ ganador }}</h1>
            <template v-else>
              <h1>Partcipantes</h1>
                <ul>
                  <li v-for="persona in listado">{{ persona }}</li>
                </ul>
            </template>
            <button @click="elegirGanador">Elegir ganador</button>
          </div>
    </elegir-ganador>

    <pre>{{ $data }}</pre>
    
  </main>

  <!-- <template id="elegir-ganador-template">
    <div>
      <h1 v-if="ganador">El ganador es: {{ ganador }}</h1>
      <template v-else>
        <h1>Partcipantes</h1>
          <ul>
            <li v-for="persona in listado">{{ persona }}</li>
          </ul>
      </template>
      <button @click="elegirGanador">Elegir ganador</button>
    </div>
  </template> -->
  

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>

</html>
