<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Js</title>
</head>
<body>
  <main>

    <!-- filtro segun texto de busqueda -->
    <input type="search" v-model='busqueda' placeholder="buscar tu juego">

    <ul>
      <li v-for='juego in buscarJuego'>
        {{ juego.titulo }}
      </li>
    </ul>

    <!-- filtro segun puntuacion -->
    <input type="range" min='0' max='10' v-model="minimo">


    <pre>{{ $data }}</pre>
  </main>

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
